<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <a class="skip-link" href="#main">Skip to main</a>
  <main id="main">
  <div class="content">
    {{ partial "header.html" . }}
    <section>
      <h2 class="post">{{ .Title }}</h2>
      <span class="post-date">{{.Date.Format "January 2, 2006"}} </span>
      {{ .Content }}
    </section>
    <section class="tags">
      {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
      <ul>
        {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
        $taxonomy $tag) -}}
        <li>
          <a href="{{ .Permalink }}">#{{ $tag | urlize }}</a>
        </li>
        {{- end -}} {{- end -}}
      </ul>
      {{ end }}
    </section>
    {{ if eq .Section "posts" }}
    <div id="comments">
      {{ partial "comments.html" $ }}
    </div>
    {{ end }}
  </div>
</main>
</body>
</html>
