{{ $menuLength := len .Site.Menus.main }}
<header>
  <p style="padding: 0;margin: 0;">
    <a href="{{ .Site.BaseURL }}">
      <b>{{ .Site.Title }}</b>
      <span class="text-stone-500 animate-blink">▮</span>
    </a>
  </p>

  {{ if le $menuLength 1 }}
  <ul style="padding: 0;margin: 0;">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
      <a href="{{ .URL }}"><span>{{ .Name }}</span></a>
      {{ end }}
    </li>
  </ul>
  {{ else }}
  <button class="burger" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <nav class="nav-menu">
    <ul style="padding: 0;margin: 0;">
      {{ $currentPage := . }}
      {{ range $index, $element := .Site.Menus.main }}
        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL }}"><span>{{ .Name }}</span></a>
        </li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
</header>
<hr class="hr-list" style="padding: 0;margin: 0;">